@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700') ;

html, body {
  background: black;
  color: #ff6;
  font: 700 1em News Cycle , sans-serif;
  height: 100%;
  letter-spacing: 0.15em;
  margin: 0;
  width: 100%;
}

table, th, tr, td {
  border: 1px;
  border-color: #ff6;
  border-spacing: 0;
  border-style: solid;
  text-align: center;
}
